@use "./variables.scss" as *;

// put your custom CSS here!

.explorer li {
  border-bottom: 1px solid var(--lightgray);
}

.center p:not(.content-meta),
.center li,
.center table {
  font-size: 1.2rem;
}

.center ol,
.center ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.center li > ul,
.center li > ol {
  margin-top: 1rem;
}

.center img {
  min-width: 300px;
  max-width: 500px;
}